#banner
{
    position: absolute;
    width: 100em;
    height: 4em; 
    color:white;
    /*background-repeat: no-repeat;*/
    background-image: url(--clr);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 100000;
    margin-left: 4.5em;
    align-items: center;
    border-radius: 10px;
    opacity: 0;
    transform: translateX(-100px);
    
    transition: 0.3s;
}
#banner
{
    opacity: 1;
    transform: translateX(0px);
}