*
{
    display: inline-block;
    
}
::-webkit-scrollbar {
    width: 15px;
    height: 1px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--clr); 
    border-radius: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: crimson;
    border: 2px solid #fff;
    border-radius: 10px;
  }
h2{
    font-size: 125%;
}
#NavegacionBola{
    width: auto;
    height: 5vmax;
    background-color: crimson;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
    top: 0cm;
    left: 0cm;
    background-size:cover;
    background-repeat:no-repeat;
    z-index: 10;
}
#NavegacionBola ul
{
    display: flex;
    width: 100vmax;
}
:root{
    --clr: #222327;
}
body
{
    margin:auto;
    background:var(--clr);
    font-family:sans-serif;
    text-decoration: none;

}
#NavegacionBola ul li
{
    position: relative;
    list-style: none;
    width: 6.481481481481481vh;
    height: 6.481481481481481vh;
    z-index: 1;
}
#NavegacionBola ul li a
{
    position: relative;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}
#NavegacionBola ul li a #Icono
{
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    line-height: 6.944444444444444vh;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color:var(--clr)
}
#NavegacionBola ul li:hover a #Icono
{
    transform:translateY(-1.8518518518518516vh)
}
#NavegacionBola ul li a #Texto
{
   
    position: absolute;
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    opacity: 0;
    transition:0.5s;
    transform: translateY(3.2407407407407405vh);
    color:var(--clr)
    
}
#NavegacionBola ul li:hover a #Texto
{
opacity: 1;
transform: translateY(0.9259259259259258vh);
}
#NavegacionBola img
{   
    position: relative;
    top: 10000vmax;
    left: -83vmax;
    height: 1.5em;
    width: 1.5em;
    top:2px;
    
    border-radius: 1000%;
    animation-name: MOVIMIENTO_POKEBALL;
    animation-iteration-count: 1;
    animation-direction:alternate;
    animation-duration: 2.5s;
    
    
}
@keyframes MOVIMIENTO_POKEBALL{
    0%{
        transform: translateX(100vmax);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
h1{
    color: #fff;
}
#banner
{
    
    align-items: center;
    text-align: center;
    position: relative;
    top: 2.3vmax;
    width: 100%; 
    color:white;
    background-color: crimson;
    z-index: -1;
    border-radius: 0px 0px 80px 80px;
}
#banner_1
{
    left: 22.5vmax;
    align-items: center;
    text-align: center;
    position: relative;
    top: 5vmax;
    bottom: 1vmax;
    width: 55vmax; 
    color:white;
    background-color: crimson;
    z-index: -1;
    border-radius: 10px 10px 10px 10px;
}
#banner_2
{
    left: 22.5vmax;
    align-items: center;
    text-align: center;
    position: relative;
    top: 15vmax;
    bottom: 1vmax;
    width: 55vmax; 
    color:white;
    background-color: crimson;
    z-index: -1;
    border-radius: 10px 10px 10px 10px;
}
#banner_3
{
    left: 22.5vmax;
    align-items: center;
    text-align: center;
    position: relative;
    top: 80vmax;
    bottom: 1vmax;
    width: 55vmax; 
    color:white;
    background-color: crimson;
    z-index: -1;
    border-radius: 10px 10px 10px 10px;
}
#texto_inicio
{
    align-items: center;
    text-align: center;
    left: 25vmax;
    margin-right: 55vmax;
    position: relative;
    top: 3.8vmax;
    color:#fff;

}
#texto_inicio_2
{
    align-items: center;
    text-align: center;
    left: 25vmax;
    margin-right: 55vmax;
    position: relative;
    top: 17vmax;
    color:#fff;

}
/*LISTA1*/
#Lista1{
    left: 22.5vmax;
    top:10vmax;
    color:#fff;
    display: flex;
    position: relative;
    flex-direction: row;
    list-style-type: none;
}
#Lista1 ul li
{
    
    list-style: none;
}
#Lista1 ul li #imagen
{
    width: 310px;
    height: 160px;
    display: flex;
    transition: 1.0s;
}
#Lista1 ul li #imagen img
{
    width: 310px;
    height: 160px;

}
#Lista_FILA1 ul li #imagen img
{
    width: 310px;
    height: 160px;

}
#Lista_FILA2 ul li #imagen img
{
    width: 310px;
    height: 160px;

}
#Lista1 ul li #texto
{
    display: flex;
    position: relative;
    left:20px;
    opacity: 0;
    transition: 1.0s;
}
#Lista1 ul li #tipo
{
    display: flex;
    position: relative;
    left:80px;
    opacity: 0;
    transition: 1.0s;

}
#Lista1 ul li #counter
{
    transition-delay: 0.5s ;
    display: flex;
    left: 180px;
    position: relative;
    opacity: 0;
    transition: 1.0s;
  
}
#Lista1 ul li #counter_imagen
{
    transition-delay: 0.5s ;
    display: flex;
    position: relative;
    opacity: 0;
    transition: 1.0s;
    left: -110px;
    width: 48px;
    height: 18px;
}
/*LIISTA_FILA1*/
#Lista_FILA1{
    left: 22.5vmax;
    top:10vmax;
    display: flex;
    position: relative;
    flex-direction: row;
    text-decoration: none;
    color: #fff;
}
#Lista_FILA1 ul li
{
    list-style: none;
}
#Lista_FILA1 ul li #imagen
{
    width: 300px;
    height: 168px;
    display: flex;
 transition: 1.0s;
}
#Lista_FILA1 ul li #texto
{
    position: relative;
    left:20px;
    opacity: 0;
    transition: 1.0s;
}
#Lista_FILA1 ul li #tipo
{
    position: relative;
    left:80px;
    opacity: 0;
    transition: 1.0s;

}
#Lista_FILA1 ul li #counter
{
    display: flex;
    left: 180px;
    position: relative;
    opacity: 0;
    transition: 1.0s;
  
}
#Lista_FILA1 ul li #counter_imagen
{
    position: relative;
    opacity: 1;
    transition: 1.0s;
    left: -110px;
    width: 48px;
    height: 18px;
}
/*LIISTA_FILA2*/
#Lista_FILA2{
    left: 22.5vmax;
    top:10vmax;
    display: flex;
    position: relative;
    flex-direction: row;
    text-decoration: none;
    color: #fff;
}
#Lista_FILA2 ul li
{
    list-style: none;
}
#Lista_FILA2 ul li #imagen
{
    width: 300px;
    height: 168px;
    display: flex;
 transition: 1.0s;
}
#Lista_FILA2 ul li #texto
{
    position: relative;
    left:20px;
    opacity: 0;
    transition: 1.0s;
}
#Lista_FILA2 ul li #tipo
{
    position: relative;
    left:80px;
    opacity: 0;
    transition: 1.0s;

}
#Lista_FILA2 ul li #counter
{
    display: flex;
    left: 180px;
    position: relative;
    opacity: 0;
    transition: 1.0s;
  
}
#Lista_FILA2 ul li #counter_imagen
{
    position: relative;
    opacity: 1;
    transition: 1.0s;
    left: -110px;
    width: 48px;
    height: 18px;
}

.Contenido{
    display: inline-block;
}
/*#####################################Animaciones hover###############################################*/
.Contenido #Lista1 ul li:hover #imagen
{
    transform: translateY(-100px);
}
#Lista1 ul li:hover #texto
{
    opacity: 1;
    transform: translateY(-75px)translateX(-20px)
}
#Lista1 ul li:hover #tipo
{
    opacity: 1;
    transform: translateY(-75px)translateX(-77px);
}
#Lista1 ul li:hover #counter
{
    
    opacity: 1;
    transform: translateY(-160px)translateX(45px);
}
#Lista1 ul li:hover #counter_imagen
{
    
    opacity: 1;
    transform: translateX(35px) translateY(70px);
}
.Contenido section #Lista_FILA1 ul li:hover #imagen
{
    transform: translateY(-100px);
}
#Lista_FILA1 ul li:hover #texto
{
    opacity: 1;
    transform: translateY(-15px)translateX(-20px)
}
#Lista_FILA1 ul li:hover #tipo
{
    opacity: 1;
    transform: translateY(35px)translateX(-145px);
}
#Lista_FILA1 ul li:hover #counter
{
    
    opacity: 1;
    transform: translateY(-85px)translateX(40px);
}
 #Lista_FILA1 ul li:hover #counter_imagen
{
    
    opacity: 1;
    
    transform: translateY(75px) translateX(40px);
}
.Contenido section #Lista_FILA2 ul li:hover #imagen
{
    transform: translateY(-100px);
}
#Lista_FILA2 ul li:hover #texto
{
    opacity: 1;
    transform: translateY(-15px)translateX(-10px)
}
#Lista_FILA2 ul li:hover #tipo
{
    opacity: 1;
    transform: translateY(35px)translateX(-135px);
}
#Lista_FILA2 ul li:hover #counter
{
    
    opacity: 1;
    transform: translateY(-85px)translateX(35px);
}
 #Lista_FILA2 ul li:hover #counter_imagen
{
    
    opacity: 1;
    
    transform: translateY(75px) translateX(35px);
}
/*#####################################No Mas hoovers#################################################################################################*/
section #objeto_1
{
    left: 10vmax;
    top: 30vmax;
}

section #objeto_2
{
    left: 20vmax;
    top: 30vmax;
}
section #objeto_3
{
    left: 30vmax;
    top: 30vmax;
}
section #objeto_4
{
    
    position:relative;
    left: 10vmax;
    top: 45vmax;
}
section #objeto_5
{
    position:relative;
    left: 20vmax;
    top: 45vmax;
}
section #objeto_6
{
    position:relative;
    left: 30vmax;
    top: 45vmax ;
}
section #objeto_7
{
    
    position:relative;
    left: 10vmax;
    top: 60vmax;
}
section #objeto_8
{
    position:relative;
    left: 20vmax;
    top: 60vmax;
}
section #objeto_9
{
    position:relative;
    left: 30vmax;
    top: 60vmax ;
}
  scroll-container {
    position: relative;
    display:inline-block;
    width: 350px;
    height: 300px;
    overflow-y: scroll;
    scroll-behavior:auto;
    left: 5vmax;
  }
  scroll-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
#page-1
{
    display: block;
    background-color:crimson ;
    
}
section #Imagen_objeto
{
    padding-left: 5vmax;
}
section #Texto_Objetos{
    padding-left: 6vmax;
    
}
#page-2
{
    background-color:rgb(218, 218, 218) ;
}
h3{

    display: flex;
    flex-direction: column;
    color:var(--clr) ;
    font-size: 15px;
}
#Brock{
    scroll-margin-top: 160px;
    left: 15%;
    position: relative;
    top :90vmax;
    margin-right: 65%;
}
#misty{
    scroll-margin-top: 160px;
    left: 15%;
    position: relative;
    top :100vmax;
    margin-right: 65%;
}
#LT_Surge{
    scroll-margin-top: 160px;
    left: 15%;
    position: relative;
    top :110vmax;
    margin-right: 65%;
}
#Erika{
    scroll-margin-top: 160px;
    left: 15%;
    position: relative;
    top :120vmax;
    margin-right: 65%;
}
#Koga{
    scroll-margin-top: 160px;
    left: 15%;
    position: relative;
    top :130vmax;
    margin-right: 65%;
}
#Sabrina{
    scroll-margin-top: 160px;
    left: 15%;
    position: relative;
    top :140vmax;
    margin-right: 65%;
}
#Blaine{
    scroll-margin-top: 160px;
    left: 15%;
    position: relative;
    top :150vmax;
    margin-right: 65%;
}
#Giovanni{
    scroll-margin-top: 160px;
    left: 15%;
    position: relative;
    top :160vmax;
    margin-right: 65%;
}
h4{

    color: #fff;
    font-size: 150%;
}
#Texto_descripciones{

    left: 15vmax;
    color: #fff;
}
html{
    scroll-behavior: smooth;
}
script{
    font-size: 0.00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001%;
    color: var(--clr);
}
#boton_volver{
    align-items: center;
    text-align: center;
    position: relative;
    left: -15vmax;
    top: 15vmax;
    width: 400px;
    height: 50px;
    background-color: crimson;
    border-radius: 10px 10px 10px 10px;
    color: #fff;
}
#boton_volver a{
    text-decoration: none;
    color: blanchedalmond;
}
#boton_de_mierda{
    width: 100px;
    position: fixed;
    top: 40.5vmax;
    left: 54.5vmax;
    border: 2px solid black;
    background-color: crimson;
    border-radius: 10px;
    color: #fff;


}