body
{
    display: flex;
}
ul
{
    list-style: none;
    display: flex;
    flex-direction: row;
}
body
{
    background-color: none;
    padding: 0;
    animation-name:cambiodecolor ;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}
img
{
    border-radius: 1100px;
}

#celda_pokebola 
{
    position: absolute;
    text-decoration: none;
    color: black;
    flex-direction: column;
    opacity: 1;
    z-index: 1;

}
#celda_pokebola_abierta 
{
    position: relative;
    text-decoration: none;
    color: black;
    flex-direction:row;
    opacity: 0;

}
#celda_pokebola:hover
{
    opacity: 0;
}
#celda_pokebola_abierta:hover
{
    opacity: 1;
}

