*{
    background-color: #222327;
}

*{
    color: white;
    font-family: sans-serif;
    margin: 0;
}

h1 {
    font-size: 300%;
    padding-top: 0%;
}

.a{
    font-size: 250%;
    font-style: italic;
    color: aqua;
    position: absolute;
    top: 65vmax;
}

.b{
    font-size: 200%;
    position: absolute;
    top: 70vmax;
}

.c{
    font-size: 250%;
    font-style: italic;
    color: orangered;
    position: absolute;
    top: 90vmax;
}

.e{
    font-size: 200%;
    position: absolute;
    top: 93vmax;
}